.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: $sidebar-width;
  height: 100vh;
  padding: 20px 40px 40px;
  border-right: 1px solid $black;
  background-color: $white;
}

.sidebar-logo {
  margin-bottom: 20px;

  font-family: 'Caveat';
  font-size: 40px;
  line-height: 1;
}

.enter-room-form {
  label {
    margin-bottom: 2px;

    font-size: 12px;
  }

  input {
    margin-bottom: 10px;
  }

  button {
    margin-top: 20px;
  }
}

.players-in-room {
  margin-bottom: 20px;
}

.players-in-room-header {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.scores-header,
.scores-table-row {
  display: flex;
  justify-content: space-between;

  > div {
    padding: 5px;

    &:nth-child(1) {
      width: 20px;
      color: $medium-gray;
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: 40%;
    }
  }
}

.scores-header {
  border-bottom: 1px solid $lightest-gray;
}

.scores-header-player-up {
  font-weight: bold;
}

.playing-surface {
  display: flex;
  position: relative;

  min-height: 100vh;
  margin-left: $sidebar-width;
}

.playing-surface-items {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 125px;
}

.swap-modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $faded-white;
}

.swap-modal {
  position: absolute;
  top: 20px;
  left: 225px;

  width: 400px;
  padding: 40px;
  border-radius: 0;
  background-color: $white;
  box-shadow: 1px 1px 8px $medium-gray;

  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 24px;
    height: 24px;
  }
}

.swap-modal-content {
  display: flex;
  flex-direction: column;
}

.swap-modal-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.swap-modal-choose-tiles {
  display: flex;
  justify-content: space-between;
}

.rack-letter-to-swap {
  position: relative;

  cursor: pointer;

  .checkmark-icon {
    position: absolute;
    top: 0;
    right: 0;

    width: 14px;
    height: 14px;
  }
}

.swap-modal-actions {
  margin-top: 40px;

  text-align: right;

  button {
    width: 100px;
    margin-left: 10px;
  }
}

.above-board-row {
  display: flex;
  position: relative;
  justify-content: center;

  width: 100%;

  .shuffle-icon,
  .swap-icon {
    width: 28px;
    height: 28px;

    cursor: pointer;
    user-select: none;
  }

  .swap-icon-container {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);
  }
}

.rack-letters {
  display: flex;
  position: relative;

  margin: 20px 0;

  .shuffle-icon-container {
    position: absolute;
    top: 50%;
    left: -45px;

    transform: translateY(-50%);
  }

  .rack-letter {
    margin: 0 2px;
  }
}

.shuffle-icon-container,
.swap-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shuffle-icon-text,
.swap-icon-text {
  font-size: 7px;
  text-transform: uppercase;
}

.rack-letter {
  width: $cell-size;
  height: $cell-size;
  background-color: $light-medium-gray;
}

.board {
  display: grid;

  width: $cell-size * 15;
  border: 2px solid $medium-gray;
  background-color: $beige;
  box-shadow: 1px 1px 5px $medium-gray;

  grid-template-columns: repeat(15, 1fr);
}

.board-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  height: $cell-size;
  border: $cell-outline;
  border-right: none;
  border-bottom: none;

  &:nth-child(15n) {
    border-right: $cell-outline;
  }

  &:nth-child(n + 211) {
    border-bottom: $cell-outline;
  }

  .star-icon {
    width: 24px;
    height: 24px;
  }
}

.board-cell-double-word {
  background-color: $pink;
}

.board-cell-triple-word {
  background-color: $red;
}

.board-cell-double-letter {
  background-color: $light-blue;
}

.board-cell-triple-letter {
  background-color: $blue;
}

.board-cell-hovered {
  background-color: $medium-gray;
}

.board-cell-taken {
  position: relative;

  .tile {
    position: absolute;
    top: -1px;
    left: -1px;

    width: $cell-size - 2px;
    height: $cell-size - 2px;
  }
}

.board-cell-score-multiplier {
  font-size: 7px;
  text-align: center;
  text-transform: uppercase;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $cell-size;
  height: $cell-size;
  background-color: $yellow;

  font-size: 18px;
  box-shadow: -1px -1px 1px $white, 1px 1px 1px $medium-gray;
}

.tile-letter-container {
  position: relative;

  .tile-points {
    position: absolute;
    bottom: -2px;
    left: calc(100% + 1px);
  }
}

.tile-points {
  font-size: 10px;
}

.input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border: 1px solid $black;
}

.button {
  width: 100%;
  height: 35px;
  border: 1px solid $black;
  background: $black;
  color: $white;

  font-size: 12px;
  text-transform: uppercase;
}

.button-inverse {
  background-color: $white;
  color: $black;
}
