.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: $sidebar-width;
  height: 100vh;
  padding: 20px 40px 40px;
  border-right: 1px solid $black;
  background-color: $white;
}

.sidebar-logo {
  font-family: 'Caveat';
  font-size: 40px;
}

.scores-header,
.scores-table-row {
  display: flex;
  justify-content: space-between;

  > div {
    padding: 5px;

    &:nth-child(1) {
      width: 20px;
      color: $medium-gray;
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: 40%;
    }
  }
}

.scores-header {
  border-bottom: 1px solid $lightest-gray;
}

.scores-header-player-up {
  font-weight: bold;
}

.playing-surface {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: $sidebar-width;
}

.rack-letters {
  display: flex;

  margin: 20px 0;

  .rack-letter {
    margin: 0 2px;
  }
}

.rack-letter {
  width: $cell-size;
  height: $cell-size;
  background-color: $light-medium-gray;
}

.board {
  display: grid;

  width: $cell-size * 15;
  border: 2px solid $medium-gray;
  background-color: $beige;
  box-shadow: 1px 1px 5px $medium-gray;

  grid-template-columns: repeat(15, 1fr);
}

.board-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  height: $cell-size;
  border: $cell-outline;
  border-right: none;
  border-bottom: none;

  &:nth-child(15n) {
    border-right: $cell-outline;
  }

  &:nth-child(n + 211) {
    border-bottom: $cell-outline;
  }

  .star-icon {
    width: 24px;
    height: 24px;
  }
}

.board-cell-double-word {
  background-color: $pink;
}

.board-cell-triple-word {
  background-color: $red;
}

.board-cell-double-letter {
  background-color: $light-blue;
}

.board-cell-triple-letter {
  background-color: $blue;
}

.board-cell-hovered {
  background-color: $medium-gray;
}

.board-cell-taken {
  position: relative;

  .tile {
    position: absolute;
    top: -1px;
    left: -1px;

    width: $cell-size - 2px;
    height: $cell-size - 2px;
  }
}

.board-cell-score-multiplier {
  font-size: 7px;
  text-align: center;
  text-transform: uppercase;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $cell-size;
  height: $cell-size;
  background-color: $yellow;

  font-size: 18px;
  box-shadow: -1px -1px 1px $white, 1px 1px 1px $medium-gray;
}

.tile-letter-container {
  position: relative;

  .tile-points {
    position: absolute;
    bottom: -2px;
    left: calc(100% + 1px);
  }
}

.tile-points {
  font-size: 10px;
}
