// Colors. Color names from: http://chir.ag/projects/name-that-color
$beige: #e0dbc4;
$black: #000;
$blue: #419eaf;
$faded-white: rgba(255, 255, 255, 0.6);
$light-blue: #bcd5d2;
$light-medium-gray: #c7c7c7;
$lightest-gray: #efefef;
$medium-gray: #8c8c8c;
$pink: #fdbab0;
$red: #fa6e56;
$white: #fff;
$yellow: #ead68e;

// Fonts.
$font-face: Helvetica, sans-serif;
$base-line-height: 1.5;

// Breakpoints and sizing.
$screen-tiny-max: 320px;
$screen-xs-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 1024px;
$screen-lg-min: 1230px;
$screen-lg-max: 1366px;

// Semantic variables.
$cell-outline: 2px solid $lightest-gray;
$cell-size: 40px;
$sidebar-width: 300px;
